<html>
<head>
<title><b>pyschometric test</b></title>
</head>
<body bgcolor="pink">
<h1>pyschometric test</h1>
<h2>Completely disagree=5<br>Partially disagree=4<br>Neutral=3<br>Partially agree=2<br>Completely agree=1<br></h2>
<br><br>
<form action="/predict" method="post">
<h2><b>1.I am the life of the party</b></h2>
<input type="text" name="a">
<br><br>
<h2><b>2.I don't talk a lot</b></h2>
<input type="text" name="b">
<br><br>
<h2><b>3.I feel comfortable around people</b></h2>
<input type="text" name="c">
<br><br>
<h2><b>4.I kept in the background</b></h2>
<input type="text" name="d"> 
<br><br>
<h2><b>5.I start the conversations</b></h2>
<input type="text" name="e">
<br><br>
<h2><b>6.I have little to say</b></h2>
<input type="text" name="f">
<br><br>
<h2><b>7.I talk to a lot of different people at parties</b></h2>
<input type="text" name="g">
<br><br>
<h2><b>8.I don't like to draw attention to myself.</b></h2>
<input type="text" name="h">
<br><br>
<h2><b>9.I am quiet around strangers</b></h2>
<input type="text" name="i"> 
<br><br>
<h2><b>10.I get stressed out easily</b></h2>
<input type="text" name="j">
<br><br>
<h2><b>11.I am relaxed most of the time</b></h2>
<input type="text" name="k"> 
<br><br>
<h2><b>12.I worry about things</b></h2>
<input type="text" name="l"> 
<br><br>
<h2><b>13.I seldom feel blue</b></h2>
<input type="text" name="m">
<br><br>
<h2><b>14.I am easily disturbed</b></h2>
<input type="text" name="n">
<br><br>
<h2><b>15.I get upset easily</b></h2>
<input type="text" name="o">
<br><br>
<h2><b>16.I change my mood a lot</b></h2>
<input type="text" name="p">
<br><br>
<h2><b>17.I have frequent mood swings</b></h2>
<input type="text" name="q"> 
<br><br>
<h2><b>18.I get irritated easily</b></h2>
<input type="text" name="r"> 
<br><br>
<h2><b>19.I often feel blue</b></h2>
<input type="text" name="s"> 
<br><br>
<h2><b>20.I feel little concern for others</b></h2>
<input type="text" name="t">  
<br><br>
<h2><b>21.I am interested in people</b></h2>
<input type="text" name="u">  
<br><br>
<h2><b>22.I insult people</b></h2>
<input type="text" name="v">  
<br><br>
<h2><b>23.I sympathize with others' feelings</b></h2>
<input type="text" name="w"> 
<br><br>
<h2><b>24.I am not interested in other people's problems</b></h2>
<input type="text" name="x">  
<br><br>
<h2><b>25.I</b></h2>
<input type="text" name="y">  
<br><br>
<h2><b>26.I have a soft heart</b></h2>
<input type="text" name="z"> 
<br><br>
<h2><b>27.I am not really interested in others</b></h2>
<input type="text" name="A">  
<br><br>
<h2><b>28.I take time out for others</b></h2>
<input type="text" name="B">  
<br><br>
<h2><b>29.I feel others' emotions</b></h2>
<input type="text" name="C">  
<br><br>
<h2><b>30.I make people feel at ease</b></h2>
<input type="text" name="D"> 
<br><br>
<h2><b>31.I am always prepared</b></h2>
<input type="text" name="E"> 
<br><br>
<h2><b>32.I leave my belongings around</b></h2>
<input type="text" name="F"> 
<br><br>
<h2><b>33.I pay attention to details</b></h2>
<input type="text" name="G"> 
<br><br>
<h2><b>34.I make a mess of things</b></h2>
<input type="text" name="H"> 
<br><br>
<h2><b>35.I get chores done right away</b></h2>
<input type="text" name="I"> 
<br><br>
<h2><b>36.I often forget to put things back in their proper place</b></h2>
<input type="text" name="J">  
<br><br>
<h2><b>37.I like order</b></h2>
<input type="text" name="K">
<br><br>
<h2><b>38.I shirk my duties</b></h2>
<input type="text" name="L"> 
<br><br>
<h2><b>39.I follow a schedule</b></h2>
<input type="text" name="M">  
<br><br>
<h2><b>40.I am exacting in my work</b></h2>
<input type="text" name="N"> 
<br><br>
<h2><b>41.I have a rich vocabulary</b></h2>
<input type="text" name="O"> 
<br><br>
<h2><b>42.I have difficulty understanding abstract ideas</b></h2>
<input type="text" name="P"> 
<br><br>
<h2><b>43.I have a vivid imagination</b></h2>
<input type="text" name="Q">  
<br><br>
<h2><b>44.I am not interested in abstract ideas</b></h2>
<input type="text" name="R"> 
<br><br>
<h2><b>45.I have excellent ideas</b></h2>
<input type="text" name="S">  
<br><br>
<h2><b>46.I do not have a good imagination</b></h2>
<input type="text" name="T"> 
<br><br>
<h2><b>47.I am quick to understand things</b></h2>
<input type="text" name="U">  
<br><br>
<h2><b>48.I use difficult words</b></h2>
<input type="text" name="V">  
<br><br>
<h2><b>49.I spend time reflecting on things</b></h2>
<input type="text" name="W"> 
<br><br>
<h2><b>50.I am full of ideas</b></h2>
<input type="text" name="X"> 
<br><br>
<input type="submit" value="Predict">
</form>
<h1>Prediction : {{result}}</h1>
</body>
</html>